@model IEnumerable<pracainz.Models.SpisPracownikow>

@{
    ViewBag.Title = "Spis Pracownikow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pracownicy obecni na produkcji</h2>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">ImieNazwisko</th>
            <th scope="col">Telefon</th>
            <th scope="col">Email</th>
            <th scope="col">Obecny</th>
            <th scope="col">TypPracownika</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var model in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => model.Login)</td>
            <td>@Html.DisplayFor(m => model.ImieNaziwsko)</td>
            <td>@Html.DisplayFor(m => model.Telefon)</td>
            <td>@Html.DisplayFor(m => model.Email)</td>
            <td>@Html.DisplayFor(m => model.CzyObecny.Value) Na produkcji</td>
            <td>@Html.DisplayFor(m => model.TypPracownika)</td>
        </tr>
        }
    </tbody>
</table>



