@model pracainz.Models.SpisPracownikow

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nowy pracownik</h2>

@using (Html.BeginForm("Save", "SpisPracownikow"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Login)
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ImieNaziwsko)
        @Html.TextBoxFor(m => m.ImieNaziwsko, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ImieNaziwsko)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TypPracownika)
        @Html.TextBoxFor(m => m.TypPracownika, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telefon)
        @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.CzyObecny) <b>Czy obecny na produkcji?</b>
        </label>
    </div>
    @Html.HiddenFor(m => m.SpisID)
    <button type="submit" class="btn btn-info">Zapisz</button>
}

