@model pracainz.Models.SpisPracownikow

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pracownicy obecni na magazynie</h2>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">ImieNazwisko</th>
            <th scope="col">Telefon</th>
            <th scope="col">Email</th>
            <th scope="col">Obecny</th>
            <th scope="col">TypPracownika</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Login</td>
            <td>@Model.ImieNaziwsko</td>
            <td>@Model.Telefon</td>
            <td>@Model.Email</td>
            <td>@Model.CzyObecny</td>
            <td>@Model.TypPracownika</td>
        </tr>
    </tbody>
</table>

