@model IEnumerable<pracainz.Models.KontrolaJakosci>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontrola jakości</h2>

<table class="table table-striped table-dark">
<thead>
    <tr>
        <th scope="col">ID Zlecenia</th>
        <th scope="col">Login operatora KJ</th>
        <th scope="col">Nazwa Operatora KJ</th>
        <th scope="col">Zle sztuki potwierdzone</th>
        <th scope="col">Do regeneracji</th>
        <th scope="col">Do złomowania</th>
        <th scope="col">Data modyfikacji</th>
    </tr>
</thead>
<tbody>
    @foreach (var model in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => model.ZlecenieID)</td>
            <td>@Html.DisplayFor(m => model.LoginOperatoraKJ)</td>
            <td>@Html.DisplayFor(m => model.NazwaOperatoraKJ)</td>
            <td class="success">@Html.DisplayFor(m => model.ZleSztukiPotwierdzone)</td>
            <td class="info">@Html.DisplayFor(m => model.ZleSztukiDoRegeneracji)</td>
            <td class="danger">@Html.DisplayFor(m => model.ZleSztukiDoZlomowania)</td>
            <td>@Html.DisplayFor(m => model.DataModyfikacji)</td>
        </tr>
    }
</tbody>
</table>

