@model pracainz.Models.Zlecenie

@{
    var oee = Html.DisplayFor(m => Model.OEE);
    var oeeWithNoComma = oee.ToString().Replace(",", ".");

    string statusColor = GetColorStatus(Model.Status);

    string GetColorStatus(string status)
    {
        switch (status)
        {
            case "Aktywny":
                return statusColor = "green";

            case "Przestój":
                return statusColor = "red";

            case "Zakończone":
                return statusColor = "yellow";

            default:
                return statusColor = "yellow";
        }
    }

    var pozostałeSztuki = Model.SztukDoWykonania - Model.SztukDobrych;
    var greenProgress = (100 * Model.SztukDobrych) / Model.SztukDoWykonania;
    var redProgress = Model.SztukDobrych > 250 ? null : (100 * Model.SztukZlych) / Model.SztukDoWykonania;
    var zleSztuki = Model.SztukDobrych > 250 ? null : Model.SztukZlych;
}

<div class="jumbotron">
    <h2>Wizualizacja pracy stanowiska</h2>
    <p>Status: <span style="color: @statusColor">@Html.DisplayFor(m => Model.Status)</span></p>
    @* OEE *@
    <div class="alert alert-dismissable" role="alert">
        <p class="alert-link">OEE aktualnego zlecenia:</p>
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="@oeeWithNoComma" aria-valuemin="0" aria-valuemax="100" style="width: @oeeWithNoComma%">
                <span style="font-size: 18px">@oeeWithNoComma%</span>
            </div>
        </div>
    </div>

    @* SZTUKI *@
    <div class="alert alert-dismissable" role="alert">
        <p class="alert-link">Rozkład sztuk:</p>
        <p>Sztuk do wykonania: @Model.SztukDoWykonania<span>, <b>Pozostałe sztuki: @pozostałeSztuki</b></span></p> 
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: @greenProgress%">
                <span style="font-size: 18px">Dobre: @Model.SztukDobrych sztuk</span>
            </div>
            <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: @redProgress%">
                <span style="font-size: 18px">Złe: @Model.SztukZlych sztuk</span>
            </div>
        </div>
    </div>

</div>


